build/
install/
log/
logs/
CMakeFiles/
third_party/build/
third_party/build/
third_party/osqp_src/
third_party/osqp-eigen_src/
__pycache__/
*.pyc
.vscode/
*.swp
*.swo
*~

# Local debug-only sources
quadruped_controller/src/**/*Debug.cpp
quadruped_controller/src/**/*debug.cpp
quadruped_controller/src/mpc/OsqpEigentest.cpp

.agents
.codex
*.md
.clang-format
.colcon_build/
.colcon_install/
.colcon_log/
__pycache__/
